node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Environment variables — NUNCA subir al repo
.env
.env.local
.env.production

# AI tools
.qodo/
.cursor/
.aider*
.idea/
.vscode/
